<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="/img/iv-logo.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <% var menu = site.data.nav[0].items %>
                <% for (var item in menu){ %>
                    <% var linkLevel1 = "/" + menu[item].index %>

                    <% if (menu[item].items){ %>

                        <li class="dropdown">
                            <a href="<%= linkLevel1 %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= menu[item].title %> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <% for (var item2 in menu[item].items){ %>
                                <% var linkLevel2 = linkLevel1 + "/" + menu[item].items[item2].index %>
                                <li class="dropdown">
                                    <% if (menu[item].items[item2].link){ %>
                                        <% linkLevel2 = menu[item].items[item2].link %>
                                    <% } %>
                                    <a href="<%= linkLevel2 %>" > <%= menu[item].items[item2].title %> </a>
                                </li>
                                <% } %>
                            </ul>
                        </li>

                    <% } else { %>

                        <li>
                            <% if (menu[item].link){ %>
                                <% linkLevel1 = menu[item].link %>
                            <% } %>
                            <a href="<%= linkLevel1 %>" > <%= menu[item].title %> </a>
                        </li>

                    <% } %>
                <% } %>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>